tsconfig.tsbuildinfo
tsconfig.browser.tsbuildinfo
tsconfig.node.tsbuildinfo
/.eslintcache

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

*.local
.DS_Store
dist
node_modules

# Editor directories and files
.idea

package-lock.json
yarn.lock
